.list-page {
    padding: 0px 15px 20px;
    .el-col {
        margin-bottom: 0;
    }
    .el-form-item {
        margin-bottom: 18px;
        .el-select {
            width: 100%;
        }
        .el-date-editor {
            width: 100%;
        }
    }
    .middle-buttons-wrap {
        margin-bottom: 20px;
    }
    .search-wrap {
        background: #ffffff;
        border-radius: 4px;
        padding: 20px 20px 0;
        margin-bottom: 30px;
    }
    .search-cloumn {
        .el-col {
            margin-bottom: 18px;
        }
        .flex-row {
            display: flex;
            align-items: center;
            > span {
                min-width: 150px;
                text-align: right;
            }
            .el-select {
                width: 100%;
            }
        }
    }
    .search-bottons {
        .el-button {
            min-width: 95px;
         
        }
    }
    .list-wrap {
        padding: 20px;
        background: #ffffff;
        border-radius: 4px;
    }
}
.gou-table-box{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
// .gou-table-box .el-table__body-wrapper{
//     z-index: 4;
// }
.mulu-main {
    .search-wrap {
        background: #f6f8fb !important;
    }
}
