//main
$mainBg: #00c2ff;
$mainColor: #00c2ff;
$successColor: #5fce63;
$warningColor: #ff9500;
$dangerColor: #ff3b30;
$top-nav-height: 60px;

// nav
$nav-bg:#252733;


//sidebar
$menu-bg: #252733;
$menu-hover-bg: #282F55;
$menu-color: #9c9c9c;
$menu-hover-color:#ffffff;
$menu-icon-hover-color:#3571FF;
$sub-menu-bg: #272F48;
$sub-menu-hover-bg: #F2F2F2;
$sub-menu-color: #9c9c9c;
$sub-menu-hover-color: #323232;
$menu-icon-color: #9c9c9c;


// top-menu

$top-menu-hover-bg:#30323f;
$top-menu-hover-color:#ffffff;
$top-menu-icon-hover-color:#ffffff;